
body
{
    background-color: lightgray;
    background-image:url('/Images/spin-116-352832.jpg');
}

.body 
{
    position: relative;
    width: 900px ;
    margin-right: auto ;
    margin-top: 25px;
    background-color: white;
}

.ContentContainer
{
    border: 1px solid;
    border-color: #428bca;
    margin-bottom: 15px;
}

.balkje
{
    margin: 10px;
    overflow-wrap:break-word;
}

.Paginafooter
{
    height: 75px;

}

.Legenda
{
    position: relative;
    float: right;
    font-size:x-small;
    border: 1px solid;
    border-color: #428bca;
    margin: 5px;
    padding: 5px;
    width: 200px;
}

.twitter
{
    width: 520px;
    margin-left: auto ;
    margin-right: auto ;
}

.spacer
{
    height: 100px;
}

.contact
{
    cursor: pointer;
    border: 1px solid;
    border-color: #428bca;
    width: 250px;
    margin-bottom:5px;
    padding: 1px;
    height: 80px;
}

.sitebody
{
    background-color: lightgray;
    
}

.PaginaHeader
{
    Height: 100px;

}


